
@{
    ViewBag.Title = "AddDevToProject";
}

<h2>Add Dev To Project</h2>

@using (Html.BeginForm())
{
    @Html.DropDownList("user", "User")
    @Html.DropDownList("project", "Project")
    <input type="submit" value="Add" />
}